<section class="contact">
    <div class="container">
        <div class="green-title">
            <h2>{{'Contact Us' | translate}}</h2>
        </div>
        <div class="content row row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 justify-content-center align-items-center">
            <div class="contact-photo p-0">
                <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/contact-images/contact-image.png" alt="contact-image">
            </div>
            <div class="contact-info">
                <form class="col-sm-8 m-auto">
                    <div>
                        <input type="text" class="form-control shadow-none" id="name" placeholder="{{'Your Name' | translate}}" autocomplete="name">
                    </div>
                    <div>
                        <input type="email" class="form-control shadow-none text-start" id="email" placeholder="{{'Email' |translate}}" autocomplete="email">
                    </div>
                    <div>
                        <input type="text" class="form-control shadow-none" id="number" placeholder="{{'Phone Number' |translate}}" autocomplete="number">
                    </div>
                    <div>
                        <textarea class="form-control shadow-none" id="messageFormControlTextarea" rows="3" placeholder="{{'Your Message' |translate}}"></textarea>
                    </div>
                    <button type="submit" class="btn">{{'Send' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</section>