.h-services{
    position: relative;
}
.h-services .content{
    padding-bottom: 120px;
}
.h-services .content .item{
    border-radius: 20px;
    background: var(--white-color);
}
.h-services .content .item:hover{
    background: var(--salmon-light-color);
    transition: all ease-in-out 0.5s;
}
.h-services .content .item .item-header img{
    width: 100%;
    height: 222px;
    border-radius: 20px 20px 0px 0px;
}
.h-services .content .item .item-body{
    padding: 12px 12px 20px;
}
.h-services .content .item .item-body h3{
    font-size: 24px;
    font-weight: 500;
    height: 35px;
    overflow-y: hidden;
}
.h-services .content .item .item-body p{
    font-size: 18px;
    color: var(--primary-text-color);
    margin-top: 12px;
    margin-bottom: 28px;
    height: 80px;
    overflow-y: hidden;
}
.h-services .content .item:hover .item-body h3,
.h-services .content .item:hover .item-body p{
    color: var(--white-color);
    transition: all ease-in-out 0.5s;
}
.h-services .content .item .item-body a{
    background: var(--blue-green-light);
    color: var(--white-color);
}
.h-services .content .item .item-body a:hover{
    background: var(--primary-blue-green);
}

@media screen and (max-width: 991px) {
    .h-services .content .item .item-body h3{
        font-size: 18px;
        font-weight: 400;
        height: 50px;
    }
    .h-services .content .item .item-body p{
        font-size: 16px;
        margin-bottom: 12px;
    }
}