/* 
    1- WORK TEAM
    1.1- work-team title
    1.2- work-team content        

    2- MEDIA
 */
/* 1.2- work-team content */
.work-team .content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;    
}
.work-team .content .team h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin: 8px 0px;
}
.work-team .content .team h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 991px) {
  .work-team .content{
    grid-template-columns: 1fr 1fr;        
  }
}
@media screen and (max-width: 575px) {
  .work-team .content{
    grid-template-columns: 1fr;        
  }
}