<section class="work-team">
    <div class="container">
        <div class="green-title">
            <h2>{{'Work Team' | translate}}</h2>
        </div>
        <div class="content">
            <div class="work">
                <div class="team text-center">
                    <div class="team-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/work-team-images/team1.png" alt="team-image">
                    </div>
                    <div class="team-info">
                        <h3>{{'INTERIOR DESIGNER' | translate}}</h3>
                        <h4>Mirnsdo Jons</h4>
                    </div>
                </div>
            </div>
            <div class="work">
                <div class="team text-center">
                    <div class="team-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/work-team-images/team2.png" alt="team-image">
                    </div>
                    <div class="team-info">
                        <h3>{{'INTERIOR DESIGNER' | translate}}</h3>
                        <h4>Mirnsdo Jons</h4>
                    </div>
                </div>
            </div>
            <div class="work">
                <div class="team text-center">
                    <div class="team-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/work-team-images/team3.png" alt="team-image">
                    </div>
                    <div class="team-info">
                        <h3>{{'INTERIOR DESIGNER' | translate}}</h3>
                        <h4>Mirnsdo Jons</h4>
                    </div>
                </div>
            </div>
            <div class="work">
                <div class="team text-center">
                    <div class="team-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/work-team-images/team2.png" alt="team-image">
                    </div>
                    <div class="team-info">
                        <h3>{{'INTERIOR DESIGNER' | translate}}</h3>
                        <h4>Mirnsdo Jons</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>