
<div class="admin" [lang]="'lang' | translate" [dir]="'dir' | translate">
    <app-header-admin></app-header-admin>

    <div class="container">
        <main class="d-lg-flex">
            <aside class="col-lg-3 gap-0">
                <app-sidebar></app-sidebar>        
            </aside>
            <section class="col-lg-9 gap-0">
                <router-outlet (activate)="resetPosition()"></router-outlet>
            </section>
        </main>
    </div>

    <app-footer-admin></app-footer-admin>
</div>
