header{
    padding-top: 60px;
    padding-bottom: 30px;
}
nav{
    background: var(--primary-blue-green);
    padding: 40px;        
    border-radius: 20px;
}
nav .navbar-brand span, nav .navbar-brand p{
    color: var(--white-color);
}
nav .navbar-brand span{
    font-size: 20px;
}
nav .navbar-brand p{
    font-size: 24px;
}

nav .offcanvas .offcanvas-body .return a{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: var(--white-color);
    border: 1px solid var(--white-color);    
    padding: 10px 25px;
}
@media screen and (max-width: 575px) {
    nav{
        padding: 20px;
    }  
    nav .navbar-brand img{
        width: 100px;
        height: 100px;
    }
    nav .navbar-brand span{
        font-size: 14px;
    }
    nav .navbar-brand p{
        font-size: 16px;
    } 
}