<section class="news-blogs">
    <div class="container">
        <div class="black-title">
            <h2>{{'Latest News & Blogs' | translate}}</h2>
        </div>
        <div class="content">
            <div class="items">
                <div class="item">
                    <div class="item-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/blog.png" alt="blog-image">
                    </div>
                    <div class="item-info">
                        <span>13 january 2023</span>
                        <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor' | translate}}</p>
                        <a class="btn" routerLink="/">{{'Read More' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="item-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/blog.png" alt="blog-image">
                    </div>
                    <div class="item-info">
                        <span>13 january 2023</span>
                        <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor' | translate}}</p>
                        <a class="btn" routerLink="/">{{'Read More' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="item-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/blog.png" alt="blog-image">
                    </div>
                    <div class="item-info">
                        <span>13 january 2023</span>
                        <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor' | translate}}</p>
                        <a class="btn" routerLink="/">{{'Read More' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="item">
                    <div class="item-photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/blog.png" alt="blog-image">
                    </div>
                    <div class="item-info">
                        <span>13 january 2023</span>
                        <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor' | translate}}</p>
                        <a class="btn" routerLink="/">{{'Read More' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>