<main class="hero">
    <div class="container">        
        <div class="text col-md-6">
            <h1>
                <span class="colored">{{'Search' | translate}} </span>
                <span>{{'for real estate for sale' | translate}} </span>
                <span class="colored">{{'and' | translate}} </span>
                <span>{{'rent in installments' | translate}} </span>
                <span class="colored">{{'in' | translate}} </span>
                <span>{{'Saudi' | translate}} </span>
                <span class="colored">{{'Arabia' | translate}}</span>
            </h1>
            <span class="live">{{'Where would you like to live?' | translate}}</span>
        </div>
        <div class="photo">
            <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/hero.png" alt="hero-image">
        </div>
    </div>
    <div class="chat"> 
        <a routerLink="/">
            <svg width="34" height="32" viewBox="0 0 34 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H32V24H20.5714L9.14286 29.5V24H2V2ZM9.14286 13H10.5714V14.375H9.14286V13ZM16.2857 13H17.7143V14.375H16.2857V13ZM23.4286 13H24.8571V14.375H23.4286V13Z" fill="#1D6D5D" stroke="#F2F2F2" stroke-width="3"/>
            </svg>                    
        </a>
    </div>
</main>

<app-filter></app-filter>

<main class="numbers">
    <div class="container">
        <div class="content row row-cols-3 row-cols-lg-4 py-3 px-0">
            <div class="total acheivment">
                <div class="d-flex gap-3 justify-content-center align-items-center">
                    <div class="photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/icons/counter__1.png.png" alt="image">
                    </div>
                    <div class="text">
                        <p class="mb-0">27+</p>
                        <span>{{'TOTAL ACHEIVMENTS' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="total">
                <div class="d-flex gap-3 justify-content-center align-items-center">
                    <div class="photo">
                        <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/icons/counter__2.png.png" alt="image">                    
                    </div>
                    <div class="text">
                        <p class="mb-0">145+</p>
                        <span>{{'TOTAL STUDENTS' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="total">
               <div class="d-flex gap-3 justify-content-center align-items-center">
                 <div class="photo">
                    <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/icons/counter__3.png.png" alt="image">                    
                </div>
                <div class="text">
                    <p class="mb-0">10K</p>
                    <span>{{'TOTAL INSTRUCTOR' | translate}}</span>
                </div>
               </div>
            </div>
            <div class="total">
               <div class="d-flex gap-3 justify-content-center align-items-center">
                 <div class="photo">
                    <img class="img-fluid" src="../../../../../../assets/images/Amlak-Images/icons/counter__4.png.png" alt="image">                    
                </div>
                <div class="text">
                    <p class="mb-0">214+</p>
                    <span>{{'OVER THE WORLD' | translate}}</span>
                </div>
               </div>
            </div>
        </div>
    </div>
</main>